$color-white:#fff;

$theme-color:#3949AB;
$color-green:#F6AE2D;
$color-red : #F6AE2D;

// $fontRg:    'AvenirNextLTPro-Regular';
// $fontBold:       'AvenirNextLTPro-Bold';
// $fontRg02:       'DroidSerifRegular';

$imageurl:     "../img";
$fonturl :     "../fonts";  



