.create-form{
    max-width: 600px;margin: 0 auto;
    .heading{
        margin-bottom: 20px;
    }
    .checkbox-list{
        .list-item{
           margin-bottom: 10px;
           label{
               font-weight: normal;
               color: #333;
           }
        }
    }
   
  
}