body{
	font-family: 'Roboto', sans-serif;
	background-color:#f2f1ed;
}

/****************style css*****************************/

.mediaViewInfo {
	--web-view-name: Share;
	--web-view-id: Share;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Share;
}
* {
	margin: 0;
	padding: 0;
}
.Share_Class {
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 1920px;
	height: 2813px;
	background-color: rgba(242,241,237,1);
	overflow: hidden;
	margin: 0;
	padding: 0;
	--web-view-name: Share;
	--web-view-id: Share;
	--web-enable-deep-linking: true;
}
.google_plus_square_brands {
	overflow: visible;
	position: absolute;
	top: 620px;
	left: 1595px;
	width: 33.104px;
	height: 33.102px;
	transform: matrix(1,0,0,1,0,0);
}
.twitter_square_brands {
	overflow: visible;
	position: absolute;
	top: 620px;
	left: 1675px;
	width: 33.105px;
	height: 33.104px;
	transform: matrix(1,0,0,1,0,0);
}
.linkedin_brands {
	overflow: visible;
	position: absolute;
	top: 620px;
	left: 1715px;
	width: 33.105px;
	height: 33.104px;
	transform: matrix(1,0,0,1,0,0);
}
.facebook_square_brands {
	overflow: visible;
	position: absolute;
	top: 620px;
	left: 1635px;
	width: 33.105px;
	height: 33.104px;
	transform: matrix(1,0,0,1,0,0);
}
.envelope_square_solid {
	overflow: visible;
	position: absolute;
	top: 620px;
	left: 1554.896px;
	width: 33.104px;
	height: 33.104px;
	transform: matrix(1,0,0,1,0,0);
}
.Rectangle_332 {
	position: absolute;
	overflow: visible;
	width: 33px;
	height: 33px;
	left: 1514px;
	top: 620px;
}
.Path_1225 {
	overflow: visible;
	position: absolute;
	top: 628.759px;
	left: 1519.424px;
	width: 11.263px;
	height: 15.699px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_1226 {
	overflow: visible;
	position: absolute;
	top: 628.759px;
	left: 1533.871px;
	width: 7.85px;
	height: 15.699px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_1227 {
	overflow: visible;
	position: absolute;
	top: 584.291px;
	left: 1468.986px;
	width: 114.619px;
	height: 39.651px;
	transform: matrix(1,0,0,1,0,0);
}
.BomaLink_Class {
	position: absolute;
	left: 1492px;
	top: 589.596px;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	line-height: 21px;
	margin-top: -3px;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(168,168,168,1);
}
.Group_576_Class {
	position: absolute;
	width: 26.242px;
	height: 29.991px;
	left: 1518.547px;
	top: 648.429px;
	overflow: visible;
}
.Path_88 {
	overflow: visible;
	position: absolute;
	top: 2.055px;
	left: 1.323px;
	width: 23.225px;
	height: 26.666px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_89 {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 26.242px;
	height: 29.991px;
	transform: matrix(1,0,0,1,0,0);
}


